

.textarea label{
    display: block;
    text-align: right;

}

.textarea textarea{
    width: 100%;
    padding: 10px 0px;
    margin-top: 10px;
    border-radius: 3px;
    border: 1px solid #777;
    height: 200px;
}